* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Header */

.header {
    padding: 15px 0 15px 0;
    /* border: 2px solid #3A4443 */
}

.container {
    width: 1200px;
    margin: 0 auto;
}
img {
    display: block;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.nav_links {
    display: flex;
    gap: 30px;
}

.nav_links li {
    list-style: none;
}

.nav_links li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 16px;
    color: #444444;
}

/* Div Hero  */
.hero {
    background: url(./images/hero_background.jpg) top center no-repeat rgba(250, 250, 252, 0.78);
    background-size: cover;
}

.hero_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 776px;
}

.hero_img {
    margin-bottom: 30px;
}

.hero_title {
    text-align: center;
    font-size: 32px;
    line-height: 45px;
    color: #45525B;
    margin-bottom: 160px;
}

/* Section Goal */

.goal {
    padding: 100px 130px;
    background-color: #FAFAFC;;
}

.goal_wrapper {
    width: 1168px;
    display: flex;
    justify-content: center;

}

.goal_block1 {
    width: 576px;
    margin-right: 16px;
}

.goal_subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #FF8A63;
}

.goal_title {
    width: 491px;
    font-size: 48px;
    line-height: 53px;
    
    color: #45525B;
}

.goal_block2 {
    width: 576px;
}

.goal_text1 {
    /* width: 561px; */
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;

    
    color: #333333;
}

.goal_text2 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    
    color: #333333;
}

.goal_broker {
    display: flex;
}
.goal_broker .goal_broker_div {
    padding-top: 21px;
    padding-bottom: 21px;
}

.goal_broker_div {
    margin-left: 8px;
}

.goal_broker_name {
    font-size: 16px;
    line-height: 22px;
    
    color: #45525B;
}

.goal_broker_job {
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #6F7278;
}

/* Section Choise */
.choise {
    padding: 100px 136px;
}
.choise_content {
    margin: 0 auto;
    margin-bottom: 30px;
    min-width: 600px;
    text-align: center;   
}

.choise_subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FF8A63;
}

.choise_title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 15px;

    color: #45525B;
}

.choise_big_block {
    display: flex;
    justify-content: space-between;
    padding-left: 178px;
    padding-right: 178px;
}

.choise_hero {
   
}

.choise_hero_img {
    border-radius: 30px;
    display: block;
}

.choise_small_block {
 
}

.choise_block1_subtitle {
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #45525B;
}

.choise_block_text {
    font-size: 14px;
    line-height: 20px;

    color: #6F7278;
}
/* .list-item:not(:last-child) {
    margin-bottom: 12px;
} */

.choise_block1 {
   width: 300px;
}
.choise_block1:hover,
.choise_block1:focus {
    background-color: #FAFAFC;
    border: 1px solid rgba(202, 204, 209, 0.2);
    border-radius: 10px;
}
.choise_block1:not(:last-child) {
    margin-bottom: 20px;
}

/* Section Banner */

.banner {
    background: url(./images/banner.jpg) 0 0 no-repeat;
    background-size: cover;
    height: 600px;
}

/* Section Store */
.store {
    background-color: #FAFAFC;
    padding: 100px 120px;
}

.store_context {
    width: 600px;
    height: 135px;
    margin-bottom: 30px;
}

.red_subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FF8A63;
}

.store_title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 16px;

    color: #45525B;
}

.store_text {
    font-size: 18px;
    line-height: calc(22px/18px);
    
    color: #6F7278;
}
.store_houses {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-right: -15px;
}
.store_house {
    margin-left: 15px;
    padding: 22px 16px;
}
.store_house:nth-child(-n + 3) {
    margin-bottom: 20px;
}
.store_house_subtitle {
    font-size: 12px;
    line-height: calc(17px/12px);
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #6F7278;
}